* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    overflow-x: hidden;
}

h1 {
    /* background-color: gray; */
    text-align: left;
    /* para centrar h1 */
    font-size: 10vh;
    margin: 0 0 1vw 0;
    padding: 1vw 0 0 0;
}

h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

h3 {
    font-size: 25px;
    margin-bottom: 20px;
}


header {
    background-image: url(/imagenes/menu.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    width: 100%;
}

.nav-enlace,
.menu-enlace {
    /* background-color: gray; */
    color: white;
    text-decoration: none;
    padding: 0.3%;
    /*5px*/
    border-radius: 5px;
    margin: 0.3%;
    /*5px*/
    font-size: 1.5vw;
    left: 0;
}

menu img {
    height: 70vh;
    width: 40%;
    margin: 20px;
}

table {
    border: black solid 2px;
    margin: 0 5%;
}

th {
    width: 30%;
    /* ancho de columna */
    text-align: left;
    /* texto alineado hacia la izquierda */
    text-decoration: underline;
    /* texto subrayado */
}

p,
ul {
    text-align: justify;
    margin: 0 5%;

}

/* inicio clases en css bootstrap */
/* menu */
.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-nav>li>a {
    background-color: rgb(223, 76, 76);
    border-radius: 9px;
    font-size: 2vh;
    margin-left: 5px;
    padding: 4px !important;
}

.navbar-inverse .navbar-nav>li>a:hover {
    background-color: #4CAF50 !important;
}

/* carrusel */
.container {
    margin-bottom: 100px;
}

.carousel-caption p {
    font-size: 20px;
}

/* grid basic */
.col-md-3,
.col-sm-3 {
    margin-top: 5%;
}

.col-md-6 img,
.col-sm-9 img {
    width: 100%;
}

.col-md-4 img,
.col-sm-6 img {
    width: 90%;
}

/* fin clases en css bootstrap */

menu img {
    height: 40vh;
    width: 30%;
    margin-left: 30px;
}

menu h3,
menu h2 {
    margin-left: 30px;
}


iframe {
    margin: 5% 0 5% 5%;
}

/* inicio para que el menú se posiciones al final de la página */
.row,
.contacto {
    min-height: 53vh;
}

/* fin para que el menú se posiciones al final de la página */

.sucursales {
    line-height: 30px;
}

footer {
    background-image: url(/imagenes/footer.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    width: 100%;
    height: 120px;
    text-align: center;
    position: relative;
    padding-top: 10px;
    margin-top: 30px;
    margin-bottom: -10px;
}

footer p {
    height: 30px;
    text-align: center;
    color: white;
    margin-top: 2vh;
    font-size: 20px;
}

/*red sociales*/
.redsoc {
    color: white;
    font-size: 20px;
    text-align: center;
}

.redsoc:hover {
    color: #999999
}

/*imagenes*/

.img-cliente {
    height: 60vh;
    width: 30%;
    margin-left: 11%;
}

/* .imgindex, .imgabout{
        width: 40%;
    } */

/*fomulario*/
label,
input {
    font-size: 1.0vw;
}

input[type=text],
input[type=password],
input[type=date],
input[type=email],
input[type=number],
input[type=url],
input[type=tel],
input[type=text],
input[type=textArea],
select {
    width: 80%;
    padding: 1vw;
    /*12px 20px;*/
    margin: 1vw;
    /*8px 0;*/
    display: inline-block;
    border: 1vw;
    /*1px solid #ccc;*/
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #042d06;
}

.formulario {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 2%;
    margin: 1% 20%;
}

textarea {
    width: 60%;
}
